.w-55 {
    width: 55%;
  }
  
  .w-45 {
    width: 45%;
  }
  
  @media (max-width: 768px) {
    .card.d-flex.flex-row {
      flex-direction: column;
    }
    .w-55, .w-45 {
      width: 100% !important;
    }
  }