/* .gradient-custom {
    background: linear-gradient(to right, rgb(220, 197, 245), rgb(107, 107, 236), royalblue);
    transition: background 2s ease-in-out;
}
#about{
    cursor: pointer;
}
.card {
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-primary {
    background: linear-gradient(to right, #024698, #00ccfff7);
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    font-weight: 600;
    transition: all 0.3s;
}

.btn-primary:hover {
    opacity: 0.8;
} */

.gradient-custom {
    background: linear-gradient(to right, rgb(220, 197, 245), rgb(107, 107, 236), royalblue);
}

.landing-background {
    background-image: url('https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-position: center;
    position: relative;
}

.landing-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(220, 197, 245, 0.7), rgba(107, 107, 236, 0.7), rgba(65, 105, 225, 0.7));
}

.btn-primary {
    background: linear-gradient(to right, #024698, #00ccfff7);
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    font-weight: 600;
    transition: all 0.3s;
}

.btn-primary:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}
.nav-link{
    cursor:pointer;
}